@page "/counter"
@using Sample;
@inject IeTranslate translate;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p>@translate.GetLanguage()</p>

<p>@Texto</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string Texto { get; set; } = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await Translate();
        translate.AddEventToRunOnSetLanguage(async () => await Translate());
    }

    private async Task Translate()
    {
        Texto = await translate.Translate("Main.Btn2.Text");
        StateHasChanged();
    }
}
